@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
:root{
  --primary-color: #000072;
  --primary-color-2: #2121A8;
  --primary-color-3: #7575C7;
  --secondary-color: #E1C202;
  --secondary-color-2:#EEDC6E;
  --secondary-color-3:#EFE6AE;
  --tertiary-color: #A1BCC7;
  --tertiary-color-2:#181818;
  --tertiary-color-3:#858585;
  --tertiary-color-4:#B8B8B8;
  --background: #FFFFFF;
  --logo-color: #D4B600;
}
.container {
  margin: 10px 8%;
}

nav {
  width: 92%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  margin-right: 10px;
}
.profile img:hover {
  border: 2px solid var(--tertiary-color-2);
  border-radius: 50%;
}
span{
  color: #1fde7c;
}
.search-bar {
  display: flex;
  border: 1px solid;
  justify-content: space-between;
  width: 600px;
  border-radius: 15px;
  padding: 10px 20px;
}
.search-bar:hover{
  border: 2px solid var(--secondary-color-2);
}
.search-bar input i {
  background: transparent;
  font-size: 1rem;
  color: aliceblue;
}
::placeholder {
  color: #000;
}
.search-bar .search-txt {
  border: none;
  background: none;
  outline: none;
}
.search-bar button {
  background: transparent;
  color: #000;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.MWM{
  margin: 40px 20px 20px 0px;
}
.card-movie{
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));;
  gap: 10px;
}
.card{
  width:80%;
  box-shadow: inset;
}
.card:hover{
  background: var(--tertiary-color);
  border-radius: 10px;
  padding: 1rem;
}

.card-content{
  margin: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-content i{
  font-size: 1.5rem;
}
.card-img{
  width:100%;
}
footer{
  margin-top: 50px;
  padding-top: 10px;
  background: var(--primary-color-3);
}
footer .logo{
  font-family: 'Inter', sans-serif;
  color: var(--logo-color);
  margin: 20px 0px -10px 200px;
  font-size: 24px;
  font-weight: 700;
}
.column_container{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: auto;
}
ul{
  margin-top: 50px;
}
li{
  list-style: none;
}
li:nth-child(1){
  font-size: 20px;
  font-weight: 700;
}
li a:nth-child(1){
  font-weight: 700;
}
li a{
  text-decoration: none;
  color: var(--background);
  font-weight: 400;
  line-height: 30px;
}
.copyright_and_brand_icons{
  margin-left: auto;
  padding-bottom: 30px;
  display: flex;
  gap: 50%;
  justify-content: center;
  align-items: center;

}
.copyright{
  color: var(--background);
}
.copyright span{
  font-size: 24px;
}
.brand_icons{
  padding: 10px 10px 0 0;
}
.brand_icons i{
  padding: 0px 10px 0 0;
  color: var(--logo-color);
  font-size: 24px;
}
@media screen and (max-width: 900px) {
  body {
    margin: 10px 10%;
    align-items: center;
  }
  .search-bar{
    border: none;
   justify-content: flex-end;
    width: 200px;
    border-radius: 15px;
    padding: 10px 20px;
  }
  
nav {
  width: 95%;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

  .search-bar input{
      display:none;
}
.search-bar button i{
  font-size: 1.5rem;
}
.profile h5{
  display: none;
}
}